---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ansible_default_ipv4.address }}
  bindPort: 6443
nodeRegistration:
  name: "cluster-master"
  kubeletExtraArgs:
    cgroup-driver: "systemd"
  # select cri socket  based on the value
  # of the group variable cri
  # defaults to containerd socket
{% if cri == "containerd" %}
  criSocket: "/run/containerd/containerd.sock"
{% elif cri == "crio" %}
  criSocket: "/var/run/crio/crio.sock"
{% else %}
  criSocket: "/run/containerd/containerd.sock"
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
clusterName: "k8s-cluster"
networking:
  podSubnet: {{ pod_subnet }}
  serviceSubnet: {{ service_subnet }}
  dnsDomain: {{ dns_domain }}
controlPlaneEndpoint: "{{ ansible_default_ipv4.address }}:6443"
apiServer:
  extraArgs:
    authorization-mode: "Node,RBAC"
    advertise-address: {{ ansible_default_ipv4.address }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
# driver that the kubelet uses to manipulate cgroups on the 
# host (cgroupfs or systemd)
# Dynamic Kubelet Config (beta): This field should not be 
# updated without a full node reboot. It is safest to keep 
# this value the same as the local config.
#
# Default: "cgroupfs"
cgroupDriver: systemd
